.product-analysis {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 20px;
    align-items: center;
    color: black;
    flex: 2;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center; /* Center content horizontally */
}

.product-analysis img {
    width: 150px;
    height: auto;
    object-fit: contain;
    margin-bottom: 0;
}

.analysis-text {
    text-align: left;
    flex: 1;
    color: black;
}

.analysis-text h3 {
    color: #FF6600;
    margin-bottom: 10px;
}

.analysis-text p {
    margin: 5px 0;
}

.analysis-text ul {
    padding-left: 20px;
    margin-top: 5px;
}

.analysis-text ul li {
    margin-bottom: 5px;
}

.upload-prompt {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    color: #333;
    font-weight: bold;
    flex: 1; /* Center the text */
    display: flex;
    justify-content: center;
    align-items: center;
}