.selected-countries {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
    color: black;
}

.selected-countries ul {
    color: black;
    list-style: none;
    padding: 0;
}

.selected-countries li {
    margin-bottom: 10px;
}

/* Green text for all countries except Singapore */
.green-text {
    color: green;
}

/* Red text for Singapore */
.red-text {
    color: red;
}