.ai-assistant {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%; /* This should be set to 100% of its container */
    color: black;
    box-sizing: border-box;
}

.assistant-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
.aliadapt-text {
    color: #FF6600; /* Orange color for "AliAdapt" */
    font-weight: bold; /* Optional: Make the "AliAdapt" text bold */
}

.assistant-text {
    color: black; /* Black color for "AI Assistant" */
}

.assistant-header .ai-logo {
    height: 30px;
    margin-right: 10px;
    box-sizing: border-box;
}

.chat-window {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Allows scrolling when content overflows */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.chat-bubble {
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 70%;
    box-sizing: border-box;
}

.chat-bubble.assistant {
    background-color: #f5f5f5;
    align-self: flex-start; /* Align AI messages to the left */
    box-sizing: border-box;
}

.chat-bubble.user {
    background-color: #FF6600;
    color: white;
    align-self: flex-end; /* Align user messages to the right */
    box-sizing: border-box;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px 20px;
    box-sizing: border-box;
    
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f9f9f9;
    margin-right: 10px;
    box-sizing: border-box;
    color: black;
}

.chat-input .send-button {
    background-color: #FF6600;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}

/* Loading animation */
.loading .loader {
    border: 4px solid #d1d1d1; /* Light grey */
    border-top: 4px solid #FF6600; /* Orange */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}