.sidebar {
    background-color: #ffffff; /* White background for the sidebar */
    width: 250px; /* Adjusted width for the sidebar */
    height: 100%; /* Full height of the container */
    padding: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    border-bottom: 1px solid #eaeaea;
}

.sidebar ul li:hover {
    background-color: #f5f5f5;
}

.sidebar ul li.selected {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #FF6600; /* Highlight color for the selected item */
}

.logo-text {
    display: flex;
    align-items: center;
}

.brand {
    color: #FF6600; /* Brand color */
    font-weight: bold;
    margin-right: 5px;
}