.stat-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.stat-card {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
    box-sizing: border-box;
}

.stat-value {
    font-size: 24px;
    font-weight: bold;
    color: black;
    box-sizing: border-box;
}

.green-text {
    color: green; /* Green color for the Compliancy Rating value */
    box-sizing: border-box;
}

.stat-label {
    font-size: 14px;
    color: #777;
    margin-top: 8px;
    box-sizing: border-box;
}