.search-table {
    width: 100%;
    height: 100%; /* Ensure the table takes up the full height of its container */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: black; /* Set text color to black */
    font-size: 0.8rem; /* Smaller font size for the entire table */
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.875rem; /* Smaller font size for the entire table */
    box-sizing: border-box;
    background-color: white;
    color: black; /* Set text color to black */
}

.table-wrapper {
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling if the table overflows */
}

.data-table {
    width: 100%; /* Ensure the table fits the container width */
    border-collapse: collapse;
    box-sizing: border-box;
    color: black; /* Set text color to black */
}

.data-table th, .data-table td {
    box-sizing: border-box;
    padding: 8px 6px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: black;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
}

.data-table th {
    box-sizing: border-box;
    background-color: #f1f1f1; /* Slightly darker background for the header */
    position: sticky;
    top: 0;
    z-index: 2;
}

.data-table td {
    background-color: white;
}


/* Center flags inside table cells and scale the image */
.flag-cell {
    justify-content: center;
    align-content: center;
}

.flag-cell img {
    max-width: 40px; /* Scale the image to fit within the cell */
    max-height: 100%; /* Ensure the image does not exceed the cell's height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image scales while maintaining aspect ratio */
}


.status {
    box-sizing: border-box;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.status.processing {
    background-color: #FFA500;
}

.status.passed {
    background-color: #4CAF50;
}

.status.failed {
    background-color: #F44336;
}

.pagination {
    box-sizing: border-box;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    color: black; /* Set text color to black */
}

.options {
    box-sizing: border-box;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

.options:hover .more-options {
    color: #333;
}

.more-options {
    display: inline-block;
    color: #999;
}